.movie-flex-row {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
.movie-img-block {
  flex: 0 0 320px;
  min-width: 220px;
  max-width: 400px;
  width: 100%;
}
.movie-text-block {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}
.movie-text-block h3{
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 55px;
  line-height: 0%;
}
.movie-info-block{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.movie-about-block{
    margin-top: 3rem;
}

@media (max-width: 900px) {
  .movie-flex-row {
    flex-direction: column;
    align-items: stretch;
  }
  .movie-text-block h3{
  line-height: 100%;
}
  .movie-info-block {
    gap: 0.5rem;
  }
  .movie-img-block,
  .movie-text-block {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}
